:root {
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  text-decoration: none;
}

body {
  background: url(../public/bg.jfif) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoFilter {
  border: 4px solid red;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  font-size: 20px;
  width: 100%;
  border-radius: 14px;
}

.todos {
  margin-top: 20px;
  gap: 5px;
}

.todo {
  padding: 10px;
  border: 2px solid red;
  border-radius: 14px;
  width: 100%;
  gap: 10px;
  background-color: rgba(0, 70, 221, 0.8);
}

.todo:hover {
  background-color: rgba(231, 63, 11, 0.2);
}

.todo.done2:hover {
  background-color: rgb(19, 121, 73);
}

.delTodo {
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
}

.delTodo:hover {
  background-color: green;
}

.done {
  text-decoration: line-through;
}

.done2 {
  background-color: green;
}
